/* FONTS:
font-family: 'Shadows Into Light Two', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Ruda', sans-serif;
*/

/* HEAD OF THE SITE IS HERE */

header {
    position: relative;
    background-color: black;
    width: 100%;
    height: 15vh;
    overflow: hidden;
}

header img {
    position: absolute;
    left: 0;
    top: -5vh;
    width: 100%;
    height: auto;
    opacity: 0.4;
}

header h1 {
    position: relative;
    text-align: center;
    line-height: 15vh;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 2rem;
    color: white;
    z-index: 2;
}


/* CAN I GET A MENU */

nav.main {
    position: absolute;
    width: 100%;
    height: 75vh;
}

nav.main div.trigger i {
    top: 18vh;
    left: 50%;
    position: fixed;
    font-size: 2.5rem;
    transform: translate(-50%);
    z-index: 999;
    /* background-color: rgba(255, 255, 255, 0.322); */

}

.dots i {
    position: absolute;
    font-size: 2rem;
    color: #0b250e;
    z-index: 999;

}

.dots i:first-child {
    left: 0vw;
    top: 9.5vh;
}

.dots i:nth-child(2) {
    right: 0vw;
    top: 9.5vh;
}

.dots i:nth-child(3) {
    left: 0vw;
    bottom: 9.5vh;
}

.dots i:nth-child(4) {
    right: 0vw;
    bottom: 9.5vh;
}

.main ul {
    display: flex;
    height: 75vh;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 8vh 0;
    overflow: hidden;
}

.main ul li {
    display: block;
    position: relative;
    width: 40vw;
    height: 8vh;
    line-height: 8vh;
    text-align: center;
    font-family: 'Ruda', sans-serif;
    background-color: #0b250e;
    z-index: 998;
}

.main ul li:nth-child(1) {
    transform: translateX(-40vw);
}

.main ul li:nth-child(2) {
    transform: translateX(40vw);
}

.main ul li:nth-child(3) {
    transform: translateX(-40vw);
}

.main ul li:nth-child(4) {
    transform: translateX(40vw);
}

/* CONTAINS CONTENT - BELOW */

div.content {
    height: 85vh;
    width: 100%;
    background-image: url(/images/berry_content.jpg);
    background-position: center;
    background-size: cover;
    background-color: white;
    opacity: 0.8;
}

div.content div.main {
    padding: 8vh 0;
    display: flex;
    height: 75vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.main p {
    display: block;
    /* position: fixed; */
    font-family: 'Ruda', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    height: 8vh;
    line-height: 8vh;
    width: 60vw;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}



/* WATCH YOUR STEPS - IT'S A FOOTER */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: rgb(13, 39, 7);

}

footer p {
    position: absolute;
    font-family: sans-serif;
    font-size: 0.7rem;
    color: white;
    text-align: center;
    /* display: block; */
    width: 100%;
    bottom: 1vh;
    left: 50%;
    transform: translate(-50%);
}

footer .media {
    height: 60%;
    display: flex;
    padding: 0 5vw;
    width: 100%;
    justify-content: space-around;
    align-items: center;

}

footer .media a {
    color: white;
}